:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Reset start
  |============================
*/

.link {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/**
  |============================
  | Reset end
  |============================
*/

/**
  |============================
  | General
  |============================
*/

.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items:center ;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-iris);
}

.logo-second-color {
  color: var(--color-navy-blue);
}

.section-name {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.btn {
  display: flex;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--color-grey)
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer; 

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.button-close:hover,
.button-close:focus {
  background-color: var(--color-ocean);
}

.icon-button-close {
  fill: currentColor;
}

.button-close:hover > .icon-button-close {
  fill: var(--color-white);
}

/**
  |============================
  | Mobile menu
  |============================
*/

.mobile-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}

.mobile-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
  height: 100%;
  padding:80px 35px 40px 40px;
}

.mobile-menu-list {
  padding-right: calc(100% - 151px);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.current {
  color:  var(--color-ocean);
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-iris);
}

.mobile-menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.mobile-menu-socials {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  padding-left: 0;
  margin: 0;
}

.mobile-menu-socials-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

@media screen and (max-width: 427px) {
    .mobile-menu-phone {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-iris);
  }

  .mobile-menu-socials {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 0;
    margin: 0;
  }
}

/**
  |============================
  | Header
  |============================
*/

.header{
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 1;
}

.header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list-conteiner {
  display: none;
}

.address {
  display: none;
}

.button-mobile-menu {
  padding: 0;
  line-height: 0;
  stroke: var(--color-navy-blue);
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .button-mobile-menu {
    display: none;
  }

  .header-conteiner {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navigation-conteiner {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .navigation-list-conteiner {
    display: flex;
    gap: 40px;
  }

  .navigation-link {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

.navigation-link:hover,
.navigation-link:focus {
    color: var(--color-ocean);
  }

  .address {
    display: flex;
  }
  .address-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--color-slate);

    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--color-ocean);
  }

  .current {
    color: var(--color-ocean);
  }

  .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    color: var(--color-ocean);
    border-radius: 2px;
  }
  
  .navigation-link.current::after,
  .header-link:focus:after {
    background-color: var(--color-ocean);
  }
}

@media screen and (min-width: 1158px) {
  .navigation-conteiner {
    gap: 76px;
  }

  .address {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/**
  |============================
  | Hero section
  |============================
*/

.hero-section {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 0;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
   url(../images/hero/hero-mobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.10;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-white);
}

.btn-order{
  margin-top: 88px;
}

@media (min-divice-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx) {
   .hero-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
     url(../images/hero/hero-mobile@2x.webp);
   }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
     url(../images/hero/hero-tablet-desktop.webp);
  }
  
  .main-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 56px;
  }
  
  .btn-order{
    margin-top: 36px;
  }
  
  @media (min-divice-pixel-ratio:2), (min-resolution:192dpi), (min-resolution:2dppx) {
     .hero-section {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
       url(../images/hero/hero-tablet-desktop@2x.webp);
     }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
   padding: 188px 0;
  }
  
  .btn-order{
    margin-top: 48px;
  }
}

/**
  |============================
  | Tools section
  |============================
*/

.tools-icon {
  display: none;
}

.tools-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.tools-item-title {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:var(--color-navy-blue);
}

.tools-description {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

@media screen and (min-width: 768px) {
  .tools-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .tools-item {
    display: inline;
    max-width: 356px;
    padding-bottom: 48px;
  }

  .tools-item:nth-child(n+3) {
    padding-bottom: 0;
  }

  .tools-item-title {
    text-align: left;
  }

  .tools-description {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .tools-list {
    display: flex;
    flex-direction: row;
    gap: 23px;
  }

  .tools-item {
    max-width: 264px;
  }

  .tools-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .tools-description {
    font-style: normal;
    font-weight: 400;
  }

  .tools-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border-radius: 4px;
  }
}

/**
  |============================
  | Works section (What are we doing)
  |============================
*/

.works {
  display: none;
}
 
@media screen and (min-width: 1158px) {
  .works {
    display: flex;
  }
 
  .works-list {
    display: flex;
    gap: 24px;
  }
}

/**
  |============================
  | Team section
  |============================
*/

.team-section {
  background: var(--color-cloud);
}

.team-conteiner {
  display: flex;
  gap: 24px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  width: calc((100%-3 * 24px) / 4);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
   0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-wraper {
  padding: 32px 0px;
}

.name-team-member {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.profession-team-memeber {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
}

.social-item-team {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-ocean);
}

.social-icon {
  fill: var(--color-cloud);
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }

  .team-item {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }
}
 
/**
  |============================
  | Customers section
  |============================
*/

.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  box-sizing: border-box;
  width: 190px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-slate);
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
    justify-content: center;
  }

  .customers-item {
    width: 168px;
    height: 88px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

/**
  |============================
  | Footer
  |============================
*/
 
.footer {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  background-color: var(--color-navy-blue);
}

.description-and-socials {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-logo {
  padding: 0;
}
 
.footer-logo-second-color {
  color: var(--color-cloud);
}

.footer-text {
  max-width: 268px;
}

.footer-subtitle {
  font-weight: 500;
  color: var(--color-white);
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
 
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--color-green);
}

.social-icon {
  fill: var(--color-cloud);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

 .text-field-subscribe {
  position: relative;
  margin-right: 24px; 
  width: 100%;
}
  
.text-field {
  outline: none;
  width:100%;
  height:40px ;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: transparent; 
  border: 1px solid var(--color-white);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.text-field::placeholder {
  display: flex;
  align-items: center;
  color: var(--color-white);
  opacity: 0.6;
}
  
.subscribe-button {
  display: flex;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color : var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon-button-subscribe {
  margin-left: 16px;
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer-wrapper.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }

  .footer-wrapper {
    row-gap: 72px;
    column-gap: 24px;
  }
  
  .description-and-socials {
  display: flex;
  flex-direction:row;
  gap: 24px;
  }

  .footer-container{
    align-items: flex-start;
  }

  .subscribe-form {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .footer-text {
    width: 264px;
  }

  .text-field {
    width: 264px;
  }

  .subscribe-button {
    margin-left: 0;
    margin-right: 0; 
  }
}

@media screen and (min-width: 1158px) {
  .footer-wrapper.container {
    padding: 100px 16px;
  }
   
  .footer-wrapper {
    justify-content: space-between;
  }

  .description-and-socials {
    display: flex;
    flex-direction:row;
    gap: 120px;
  }
}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(46, 47, 66, 0.4 );
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  padding: 72px 16px 16px 16px;
  background-color: var(--color-dairy);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 500ms;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--color-grey)
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer; 

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
}

.modal-icon {
  fill: currentColor;
}

.modal-button:hover > .modal-icon {
  fill: var(--color-white);
}

.name-modal-form {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.modal-input{
  margin-bottom: 8px;
}

.lable-modal {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.input-with-svg {
  position: relative;
}

.fild-input-modal {
  width:100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  outline:transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.fild-input-modal:focus,
.field-comment:focus {
  border-color: var(--color-iris);
}

.fild-input-modal:focus ~ .modal-input-icon {
  fill: var(--color-iris);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left:16px;
  transform: translatey(-50%);
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input-comments {
  margin-bottom: 16px;
}

.field-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px; 
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline:transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-accept {
  margin-bottom: 24px;
}

.modal-accept {
  font-size: 12px;
  line-height:1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  cursor: pointer;
}

.privacy-policy{
  color: var(--color-iris);
}

.accept-privacy-policy {
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
  width: 16px; 
  height: 16px;
  text-decoration: underline;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  fill: transparent; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-accept > .accept-privacy-policy {
  background-color: #404BBF;
  border: none;
  fill: #FFFFFF;
  border-color:#404bbf;
} 

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px; 
  }
}

@media screen and (max-width: 427px) {
  .modal {
    width: 100%;
    padding: 72px 10px 10px 10px;
  }
}